/* Navigation */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  overflow: hidden;
  background-color: #080604;
  /* height: 60%; */
}

.headerFullHeight {
  /* max-height: 70%; */
}

.navbar {
  width: 80%;
  margin: 0 auto;
  padding: 10px 0;
  font-family: TTNormsPro;
  height: 100%;
}

.leftNav {
  position: fixed;
}

.rightNav {
  height: 60%;
}

.navbarToggle {
  position: absolute;
  right: 12%;
  justify-content: center;
  cursor: pointer;
  font-size: 1.5rem;
}

.clicked {
  content: url(/images/TimesVector.svg);
}

.name {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 800;
}

.mainNavbar {
  display: none;
  padding: 0;
}

.mainNavlist {
  list-style: none;
  margin: 25px auto;
  text-align: center;
  color: #fefefe;
}

.mainNavlist:nth-child(5) {
  margin-top: 5rem;
}

.navLinks {
  text-decoration: none;
  font-size: 1rem;
}

.navLinks::after {
  content: "";
  display: block;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  border: 0.5px solid #666666;
  margin-top: 0.5rem;
}

.homeNavLink {
  text-decoration: none;
  font-size: 1rem;
}

.homeNavLink::after {
  content: "";
  display: block;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  border: 0.5px solid #666666;
  margin-top: 0.5rem;
}

.storiesLink {
  display: none;
}

.shareLink {
  text-transform: uppercase;
  border-radius: 3px;
  background-color: #2b3635;
  padding: 0.5rem 1.5rem;
  margin-top: 2rem;
}

.name:hover,
.rightNav a:hover {
  opacity: 0.5;
}

.current {
  padding-bottom: 0.2rem;
  border-bottom: 4px solid #ffd254;
}

.active {
  display: block;
  margin-top: 7rem;
  padding-bottom: 6rem;
}

.close{
  font-size: 3rem;
}
/* Media query */

@media screen and (min-width: 500px) {
  .navbar {
    width: 80%;
  }

  .navbarToggle {
    right: 10%;
  }
}

@media screen and (min-width: 800px) {
  .navbar {
    width: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px 0 100px;
  }

  .navbarToggle {
    display: none;
  }

  .navLinks {
    text-transform: uppercase;
  }

  .navLinks::after {
    display: none;
  }
  .homeNavLink {
    display: none;
  }

  .active {
    margin: auto;
    padding: 0;
  }

  .shareLink {
    display: none;
  }

  .name {
    font-size: 2rem;
  }

  .mainNavbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  .mainNavlist {
    margin: 0;
  }

  .navLinks {
    margin: 0 30px;
  }

  .storiesLink {
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    border: 1px solid #fefefe;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    margin-left: 20px;
    display: initial;
  }

  .current {
    padding-bottom: 0.2rem;
  }
}

@media screen and (min-width: 1440px) {
  .navbar {
    width: 85%;
  }

  .name {
    font-size: 2.5rem;
  }

  .navLinks {
    font-size: 1.3rem;
  }

  .storiesLink{
    font-size: 1.3rem;
  }
}
