/* Navigation */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
    background-color: #080604;
    z-index: 1;
}

.navbar {
    width: 80%;
    margin: 0 auto;
    padding: 1rem 0;
    font-family: TTNormsPro;
}

.navbarToggle {
    position: absolute;
    right: 7.5%;
    justify-content: center;
    cursor: pointer;
    font-size: 1.5rem;
}

.name {
    display: inline-block;
    width: 1.5rem;
}

.mainNavbar {
    display: none;
    padding: 0;
}

.mainNavlist {
    list-style: none;
    margin: 25px auto;
    text-align: center;
    color: #fefefe;
}

.navLinks {
    text-decoration: none;
    font-size: 1rem;
}

.navLinks::after {
    content: '';
    display: block;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    border: 0.5px solid #666666;
    margin-top: 0.5rem;
}

.storiesLink {
    display: none;
}

.shareLink {
    display: inline-block;
    text-transform: uppercase;
    border-radius: 3px;
    background-color: #2b3635;
    padding: 0.5rem 1.5rem;
    margin-top: 4rem;
}

.name:hover,
.rightNav a:hover {
    opacity: 0.5;
}

.active {
    display: block;
    margin: 6rem 0;
}

/* Media query */

@media screen and (min-width: 500px) {
    .navbar {
        width: 80%;
    }

    .navbarToggle {
        right: 10%;
    }
}

@media screen and (min-width: 768px) {
    .navbar {
        width: 75%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem 0;
    }

    .navbarToggle {
        display: none;
    }

    .navLinks {
        text-transform: uppercase;
    }

    .navLinks::after {
        display: none;
    }

    .shareLink {
        display: none;
    }

    .name {
        width: 2rem;
    }

    .mainNavbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }

    .mainNavlist {
        margin: 0;
    }

    .navLinks {
        margin: 0 10px;
    }

    .storiesLink {
        text-decoration: none;
        font-size: 1rem;
        text-transform: uppercase;
        border: 1px solid #fefefe;
        padding: 0.5rem 1rem;
        border-radius: 3px;
        margin-left: 20px;
        display: initial;
    }
}

@media screen and (min-width: 1440px) {
    .navbar {
        width: 75%;
    }

    .name {
        width: 2.5rem;
    }

    .navLinks {
        font-size: 1.2rem;
        margin: 0 30px;
    }

    .storiesLink {
        font-size: 1.2rem;
    }
}