.heading {
    font-size: 48px;
    font-weight: 400;
    font-family: Canela;
    margin-bottom: 1.5rem;
}

.feature {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin-bottom: 2rem;
}

.line {
    height: 1px;
    border: none;
    margin-left: 1rem;
    background-color: #666666;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    animation-name: bounceIn;
    animation-duration: 1s;
}

@keyframes bounceIn {
    0% {
        transform: translateY(500px);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0px);
    }
}

.gradient {
    position: relative;
}

.gradient::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #000 100%);
}

.individual {
    position: relative;
    cursor: pointer;
    margin-bottom: 3rem;
}

.author {
    max-width: 70%;
    position: absolute;
    left: 30px;
    right: 0;
    bottom: 7px;
}

.title {
    display: inline-block;
    font-family: Canela;
    font-size: 24px;
    margin-bottom: 1rem;
    line-height: 35px;
}

.authorName {
    font-size: 16px;
}

.storiesImage {
    width: 100%;
    height: 384px;
    object-fit: cover;
    border-radius: 4px;
}

@media screen and (min-width: 768px) {
    .section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
    }

    .author {
        max-width: 70%;
    }

    .title {
        font-size: 20px;
        margin-bottom: .5rem;
        line-height: 30px;
    }

    .authorName {
        font-size: 14px;
    }

    .individual {
        margin-bottom: 0;
        transition: transform .2s;
        padding: .5rem;
    }

    .individual:hover {
        transform: scale(1.1);
        z-index: 1;
    }

    .gradient {
        -webkit-filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        filter: grayscale(100%);
        transition: filter 0.7s ease-in-out;
    }
    
    .gradient:hover {
        -webkit-filter: none;
        -moz-filter: none;
        -ms-filter: none;
        filter: none;
    }

    .storiesImage {
        width: 100%;
        height: 341px;
    }
}

@media screen and (min-width: 1440px) {
    .section {
        grid-template-columns: repeat(3, 1fr);
    }

    .heading {
        font-size: 64px;
    }

    .title {
        font-size: 24px;
        line-height: 35px;
    }

    .authorName {
        font-size: 16px;
    }

    .author {
        max-width: 80%;
    }

    .individual:hover {
        transform: scale(1.2);
    }

    .storiesImage {
        height: 311px;
    }
}