.storiesImage {
    -webkit-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: filter 0.7s ease-in-out;
}

.storiesImage:hover {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 800px) {
    .section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px;
    }
}
