.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
  font-style: normal;
  color: #ffffff;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.heading {
  font-size: 64px;
  font-weight: 400;
  font-family: Canela;
}

.padding {
  padding-top: 2px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  animation-name: bounceIn;
  animation-duration: 1s;
}

.listItem{
  margin: 0 0 1.25rem;
  position: relative;
}

.storyInfo{
    position: absolute;
    bottom: 10%;
    left: 10%;
    width: 200px;
    height: 91px;
    font-family: Canela;
    filter: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

.storyAuthor{
      font-family: TTNormsPro;
      font-weight: 400;
      font-size: 16px;
      justify-self: flex-end;
}

.lightText {
  color: #999;
}


.buttonContainer{
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 2rem;
}

.storyAuthor::before{
  content: url(/images/TwitterIcon.svg);
  margin-right: 1rem;
}

.viewStories{
  font-family: TTNormsPro;
  border: 1px solid #fefefe;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background: transparent;
  z-index: 1;
  cursor: pointer;
  font-size: 1rem;
  color: #ffffff;
}

@keyframes bounceIn {
  0% {
    transform: translateY(500px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media screen and (min-width: 500px) {
  
.title{
  font-weight: 400;
  font-size: 20px;
  display: flex;
  width: 110%;
  justify-content: space-between;
  flex: 0 0 auto;
}

.title::after{
  content: "";
  width: 77%;
  border: 0.5px solid #666666;
  align-self: center;
  justify-content: flex-end;
  justify-self: flex-end;
  flex: 0 1 auto;
}

.buttonContainer{
  margin-top: 2rem;
}
}

@media screen and (min-width: 800px) {
.list {
    display: flex;
    justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
  max-height: 350px;
}

.openStories{
    margin-bottom: 2rem;
    max-height: 1200px;
    overflow: visible,;
  }

.listItem{
  margin-top: 1rem;
}

.buttonContainer{
  margin-top: 0;
}
.viewStories:hover {
  opacity: 0.5;
}

.storyContainer{
  border-radius: 6px;
  width: 300px;
  height: 300px;
  cursor: pointer;
  /* background-image: url(/images/happy.png); */
}

.storyContainer:hover{
  opacity: 1;
  filter: none;
  transform: scale(1.1);
}

.storyImage{
  filter: grayscale(100%);
}

.storyImage:hover{
  filter: none;
}

/* .storyImage::before{
  content: "";
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.11) 0%, #000000 94.79% );
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
} */

/* .storyImage:hover::before{
  display: none;
} */

.storyInfo{
  width: 220px;
  }

.viewStories{
  padding: 0.5rem 1rem;
}

.padding {
  padding-top: 30px;
}

}

@media screen and (min-width: 1440px) {
  .storyContainer{
    width: 351px;
  height: 344px;
}


.title{
  width: 100%;
  flex: 0 0 auto;
}

.title::after{
  width: 77%;
  flex: 0 1 auto;
}

.buttonContainer{
  margin-top: 7rem;
}
}
